.button {
  border: solid 1px black;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
  margin: 40px 0;
  display: block;
  width: max-content;
  font-family: 'Helvetica';
  color: black;
}

.button:hover {
  text-decoration: none;
  color: black;
}
