#contact {
  display: flex;
  height:50vh;

  background: linear-gradient(#F5F5F5,rgba(245, 219, 86, 0.5));
  position: relative;
}

.mail {
  width: 100%;
  text-align: center;
  position: absolute;
}

.mail h1{
  font-weight: normal;
  font-size: 48px;
  padding-left: 12px;
  line-height: 60vh;
}

#contact .title {
  border-right: none;
}

#contact .title p {
  line-height: 66vh !important;
}
