.footer {
  background-color: #F6E075;
}

.footer p {
  margin-top: 0;
}

.foot {
  display: contents;
}

.top {
  margin-bottom: 10vh;
  z-index: 1000;
  position: relative;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}

.top a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
}

.mail {
  line-height: 60vh;
}

